body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
}

#scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrapper {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 999;
}

#kitchenTarget,
#livingRoomTarget {
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    text-align: center;
    opacity: 0.5;
    outline: none;
    cursor: pointer;
    left: calc(50% - 50px);
    width: 100px;
    z-index: 999;
}

/* .arjs-loader {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader-spinner {
    z-index: 10;
    -webkit-transform: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

@-webkit-keyframes spin {
    to {
        border-top-color: #42a5f5;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        border-top-color: #42a5f5;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */
