body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;

    /* color text */
    background-color: #000;
    color: #444;

    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
}

#scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: skyblue;
}
